body {
  background-color: #4a4849;
  border: 0px;
  margin: 0px;
  padding: 0px;
  width: auto;
  overflow-y: hidden;
}

.titlebox {
  background-color: #cc3300;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.titleboxtext {
  font-weight: bold;
  font-size: 20px;
  padding bottom: 5px;
  padding left: 10px;
  padding right: 10px;
  padding top: 5px;
}

.navigationbar {
  height: 100%;
  margin: 0px;
  padding: 0%;
  background-color: gray;

}

.navigationbarlinks {
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.contentbox {
  margin: 0px;
  padding: 0px;
  height: 100%;
  overflow-y: hidden;
  display: block;
}

h1 {
  padding-left: 10px;
}

.column1box {
  background-color: #6666ff;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 70%;
  clear: left;
  overflow-y:hidden;
  position: absolute;
  display: block;

}

.column1text {
  padding left: 20px;
  padding-right: 20px;
  margin-left: 10px;
  margin-right: 10px;
}


.column2box {
  background-color: blue;
  margin: 0px;
  padding: 0px;
  height: 100%
  min-height: 100%;
  width: 30%;
  float: right;
  clear: both;
  overflow-y: hidden;
  display: block;

}

.column2text {
  padding-left: 10px;
  padding-right: 10px;
}
